.container {
  width: 380px;
  height: 460px;
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  padding-top: 20px;
}

.logo {
  display: block;
  width: 67px;
  height: 22px;
  margin-left: 20px;
  margin-bottom: -14px;
}

.marks {
  display: block;
  width: 308px;
  height: 168px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}

.middleline {
  position: relative;
  height: 8px;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06),
    inset 0px -1.71846px 3.43693px #ae7be3, inset 0px 3.43693px 2.5777px #fbf8ff;
  margin-bottom: 62px;
}

.frontImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 64px;
  width: 64px;
  border-radius: 50%;
  z-index: 10;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.tweets {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  text-transform: uppercase;
  text-align: center;
  color: #ebd8ff;
  margin-bottom: 16px;
}

.followers {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  text-transform: uppercase;
  text-align: center;
  color: #ebd8ff;
  margin-bottom: 26px;
}

.follow {
  display: block;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  padding: 14px 56px;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.following {
  display: block;
  background: #5cd3a8;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  padding: 14px 56px;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}
