.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.cardset {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: 30px;
  margin-bottom: 30px;
}

.message {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  background: #9466ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  padding: 14px 56px;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}
